.container-collapsed {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px auto;
  grid-template-columns: 300px auto;
  -ms-grid-rows: 80px auto;
  grid-template-rows: 80px auto;
  grid-template-areas:
    "header header"
    "sidebar content";
  width: 100%;
  min-height: 100vh;
}
.container-not-collapsed {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px auto;
  grid-template-columns: 80px auto;
  -ms-grid-rows: 80px auto;
  grid-template-rows: 80px auto;
  grid-template-areas:
    "header header"
    "sidebar content";
  width: 100%;
  min-height: 100vh;
}
.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  border: 1px solid purple;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
  grid-template-columns: 20% 80%;
}
.header h1 {
  text-align: center;
}
.sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  border: 1px solid purple;
}
.sidebar ul {
  list-style-type: none;
  padding-left: 20px;
}
.sidebar ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
  grid-template-columns: 20% 80%;
  height: 44px;
  margin-top: 20px;
  cursor: pointer;
}
.icon {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 200%;
  padding-top: 5px;
  text-align: center;
}
.content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  display: -ms-grid;
  display: grid;
  padding: 10px;
  gap: 16px;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
@media (max-width: 666px) {
  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .sidebar {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .content {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}
@media (min-width: 666px) {
  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .sidebar {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .content {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}
@media (min-width: 1200px) {
  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .sidebar {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .content {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}
.full-container {
  border: 1px solid purple;
}
.full-container:hover {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}
.half-container div {
  border: 1px solid purple;
}
.half-container div:hover {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}
.third-container div {
  border: 1px solid purple;
}
.third-container div:hover {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}
.app-visible {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(38, 1, 73, 0)),
    to(rgba(38, 1, 73, 1))
  );
  background-image: -webkit-linear-gradient(
    left,
    rgba(38, 1, 73, 0),
    rgba(38, 1, 73, 1)
  );
  background-image: -o-linear-gradient(
    left,
    rgba(38, 1, 73, 0),
    rgba(38, 1, 73, 1)
  );
  background-image: linear-gradient(
    to right,
    rgba(38, 1, 73, 0),
    rgba(38, 1, 73, 1)
  );
  display: inline-block;
  padding: 14px;
  color: white;
  font-weight: 900;
  width: 83%;
  -webkit-animation: expand 2s cubic-bezier(0, 1.57, 0.99, -0.35);
  animation: expand 2s cubic-bezier(0, 1.57, 0.99, -0.35);
}
.app-visible:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.app-hidden {
  display: none;
}
@media (max-width: 666px) {
  .container-collapsed {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80px auto;
    grid-template-columns: 80px auto;
    -ms-grid-rows: 80px auto;
    grid-template-rows: 80px auto;
    grid-template-areas:
      "header header"
      "sidebar content";
    width: 100%;
    min-height: 100vh;
  }
  .app-visible {
    display: none;
  }
  .content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content;
    padding: 10px;
    display: -ms-grid;
    display: grid;
    gap: 16px;
    -ms-grid-rows: 33% 66% 99%;
    grid-template-rows: 33% 66% 99%;
  }
  .half-container {
    display: -ms-grid;
    display: grid;
    gap: 16px;
    grid-auto-flow: row;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .third-container {
    display: -ms-grid;
    display: grid;
    gap: 16px;
    grid-auto-flow: row;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (min-width: 666px) {
  .container-collapsed {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80px auto;
    grid-template-columns: 80px auto;
    -ms-grid-rows: 80px auto;
    grid-template-rows: 80px auto;
    grid-template-areas:
      "header header"
      "sidebar content";
    width: 100%;
    min-height: 100vh;
  }
  .app-visible {
    display: none;
  }
  .content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content;
    padding: 10px;
    display: -ms-grid;
    display: grid;
    gap: 16px;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .half-container {
    display: -ms-grid;
    display: grid;
    gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .third-container {
    display: -ms-grid;
    display: grid;
    gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .container-collapsed {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px auto;
    grid-template-columns: 300px auto;
    -ms-grid-rows: 80px auto;
    grid-template-rows: 80px auto;
    grid-template-areas:
      "header header"
      "sidebar content";
    width: 100%;
    min-height: 100vh;
  }
  .content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content;
    padding: 10px;
    display: -ms-grid;
    display: grid;
    gap: 16px;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .half-container {
    display: -ms-grid;
    display: grid;
    gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .third-container {
    display: -ms-grid;
    display: grid;
    gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .app-visible {
    display: inline-block;
  }
}

@-webkit-keyframes expand {
  from {
    width: 0%;
  }
  to {
    width: 83%;
  }
}

@keyframes expand {
  from {
    width: 0%;
  }
  to {
    width: 83%;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
